.header {
  background: #F55A5A;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  gap: 10px;
}
.header-logo{
  width: 24px;
  height: 24px;
}
.header-title{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}